.level-window {
    position: fixed;
    bottom: 0;
    background: var(--secondary);
    z-index: 999;
    padding: 0.5em;
    color: var(--primary);
    box-shadow: 0 0 4px rgba(0,0,0,.125);
    border: 1px solid var(--primary-low);
}

.level-window .title .close {
    width: 30px;
    height: 30px;
    color: white;
    background: red;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    float: right;
    cursor: pointer;
    border-radius: 4px;
}

.level-window .bg-white {
    background-color: var(--primary-50);
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: 0.5em;
}

.level-window h1 {
    color: var(--primary);
    font-size: 1.3rem;
}

.level-window h2 {
    font-size: 1.25rem;
}

.mb-4 table tr:nth-child(even) {
    background-color: var(--tertiary-400);
}

.level-window .text-red-500 {
    color: rgb(239 68 68);
}

.level-window .text-green-500 {
    color: rgb(16 185 129);
}

.level-window .mb-4 table tr td {
    padding: 4px 8px;
}