.level-window {
    position: fixed;
    bottom: 0;
    background: var(--secondary);
    z-index: 999;
    padding: 0.5em;
    color: var(--primary);
    box-shadow: 0 0 4px rgba(0, 0, 0, .125);
    border: 1px solid var(--primary-low);
}

.level-window .title .close {
    width: 24px;
    height: 24px;
    color: white;
    background: red;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    float: right;
    cursor: pointer;
    border-radius: 4px;
    font-size: var(--base-font-size-largest);
}

.level-window .bg-white {
    background-color: var(--primary-low);
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: 0.5em;
}

.level-window h1 {
    color: var(--primary);
    font-size: 1.3rem;
}

.level-window h2 {
    font-size: 1.25rem;
}

.mb-4 table tr:nth-child(even) {
    background-color: var(--tertiary-400);
}

.level-window .text-red-500 {
    color: rgb(239 68 68);
}

.level-window .text-green-500 {
    color: rgb(16 185 129);
}

.level-window .mb-4 table tr td {
    padding: 4px 8px;
}

.language-text {
    background: var(--primary-very-low);
    font-family: var(--d-font-family--monospace);
    font-size: var(--base-font-size-smallest);
    flex-grow: 1;
}

.code-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .copy {
        padding: .5em 1em;
        cursor: pointer;
        user-select: none;
        font-size: var(--base-font-size-smallest);
        background: var(--secondary);
    }
}

.connect-button {
    width: 100%;
    padding: .5em;
    margin-top: .5em !important;
}


/*div.topic-avatar .post-avatar a[data-user-card=neo] img.avatar {*/
/*    border: 1px solid var(--tertiary) !important;*/
/*    box-shadow: none !important;*/
/*    animation: none !important;*/
/*}*/

/*div.topic-avatar .post-avatar a[data-user-card='IO.OI'] img.avatar, div.topic-avatar .post-avatar a[data-user-card='Musifei'] img.avatar {*/
/*    border: 0;*/
/*    box-shadow: 0 0 0 1px var(--tertiary), 0 0 0 3px var(--tertiary), 0 0 0 4px var(--tertiary), 0 0 10px 4px rgba(0, 174, 255, .75);*/
/*}*/

/*div.topic-avatar .post-avatar {*/
/*    a[data-user-card='IO.OI'], a[data-user-card='wanwan'] {*/
/*        img.avatar {*/
/*            border: 0;*/
/*            box-shadow: 0 0 0 1px var(--tertiary), 0 0 0 3px var(--tertiary), 0 0 0 4px var(--tertiary), 0 0 10px 4px rgba(0, 174, 255, .75);*/
/*        }*/
/*    }*/
/*}*/
